@import "tailwindcss";

@theme {
    --animate-dash-scroll: dash-scroll 1.5s linear infinite;
  
    @keyframes dash-scroll {
      0% { background-position: 0 0; }
      100% { background-position: 16px 0; }
    }
  }
  
  .infinite-dashed-border {
    background-image: repeating-linear-gradient(to right, white 0, white 4px, transparent 4px, transparent 8px);
    height: 2px; /* border thickness */
    animation: var(--animate-dash-scroll);
  }
  

.font-space-grotesk {
    font-family: var(--font-space-grotesk) , 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.font-oswald {
    font-family: var(--font-oswald) , 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.font-space-mono {
 font-family: var(--font-space-mono) , 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.font-cambay {
    font-family: var(--font-cambay) , 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }