@import "tailwindcss";

@theme {
  --animate-dash-scroll: dash-scroll 1.5s linear infinite;

  @keyframes dash-scroll {
    0% {
      background-position: 0 0;
    }

    100% {
      background-position: 16px 0;
    }
  }
}

.infinite-dashed-border {
  background-image: repeating-linear-gradient(to right, white 0, white 4px, transparent 4px, transparent 8px);
  height: 2px;
  /* border thickness */
  animation: var(--animate-dash-scroll);
}


.font-space-grotesk {
  font-family: var(--font-space-grotesk), 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.font-oswald {
  font-family: var(--font-oswald), 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.font-space-mono {
  font-family: var(--font-space-mono), 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.font-cambay {
  font-family: var(--font-cambay), 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.font-anton {
  font-family: var(--font-anton), 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.perspective {
  perspective: 1000px;
}

.flip-card {
  width: 96px;
  /* 24 * 4 */
  height: 96px;
}

.flip-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.7s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-inner {
  transform: rotateY(180deg);
}

.flip-front,
.flip-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 0.375rem;
  /* rounded-md */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #4b5563;
  /* border-neutral-600 */
  padding: 1.25rem;
  /* px-5 py-5 */
  font-family: "Space Grotesk", sans-serif;
  font-weight: 600;
  gap: 0.5rem;
}

.flip-front {
  background-color: #18181b;
  /* bg-neutral-900 */
}

.flip-back {
  background-color: #525252;
  /* bg-zinc-700 */
  color: #f9fafb;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 0.875rem;
  /* text-sm */
  transform: rotateY(180deg);
}

@page {
  margin: 1in;
}


  @keyframes blink {
    0%, 50%, 100% { opacity: 1; }
    25%, 75% { opacity: 0; }
  }
  .animate-blink {
    animation: blink 2s step-start infinite;
  }
